body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 80%;
    background-color: rgb(252, 61, 61);
    margin: auto;
}

.kotak {
    background-color: rgb(34, 34, 34);
    opacity: .7;
    position: fixed;
    top: 100px;
    bottom: 150px;
    left: 150px;
    right: 150px;
}

.bulat {
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
}

.bulat p {
    text-align: center;
    line-height: -200px;
    font-size: 32px;
}

.header h1 {
    text-align: center;
    padding: 48px;
    padding-bottom: 12px;
    color: rgb(241, 239, 239);
}

.nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav {
    background-color: rgb(184, 143, 68);
    position: fixed;
    right: 0;
    left: 0;
    width: 79.1%;
    margin: auto;
}

.nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

.nav ul li a:hover { color: rgb(252, 61, 61); }

.nav ul li a:active { color: rgb(241, 239, 239); }

.nav ul:first-child a {
    color: rgb(241, 239, 239);
}

.main {
    padding: 36px;
    margin-top: 48px;
}

.main p {
    text-align: justify;
    text-indent: 28px;
    line-height: 28px;
}

.main p:last-child {
    color: white;
}



.img {
    height: 200px;
    width: 200px;
    background-image: url(../gambar/computer.jpg);
    background-size: cover;
    border-radius: 20px;
    margin-left: 36px;
    margin-right: 28px;
    margin-bottom: 24px;
    float: left;
}

.aside p {
    text-align: justify;
    padding: 36px;
    /* padding-left: 36px; */
    margin-top: -10px;  
    padding-bottom: 48px;
}
