body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 80%;
    background-color: rgb(252, 61, 61);
    margin: auto;
}

.header h1 {
    text-align: center;
    padding-top: 48px;
    color: rgb(241, 239, 239);
}

.nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav {
    background-color: rgb(184, 143, 68);
    margin-top: 48px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

.nav ul li a:hover { color: rgb(252, 61, 61); }

.nav ul li a:active { color: rgb(241, 239, 239); }

.nav ul:first-child a {
    color: rgb(241, 239, 239);
}

.main {
    padding: 32px 28px;
}

.main p {
    text-align: justify;
    text-indent: 28px;
    line-height: 28px;
}

.main p:last-child {
    color: white;
}



.img {
    height: 400px;
    width: 400px;
    background-image: url(../gambar/computer.jpg);
    background-size: cover;
    border-radius: 20px;
}
